name: WIF Test

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  auth-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/619930646601/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-deployer@shailaja-477403.iam.gserviceaccount.com"
          create_credentials_file: true

      - name: Test gcloud
        run: |
          gcloud auth list
          gcloud projects list --limit=5
